@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Audiowide|Electrolize|Russo+One');

/* font-family: 'Russo One', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Electrolize', sans-serif; */

body {
    background-color: grey;
}

.play-area {
    width: 80vw;
    height: 90vh;
    margin: 25px auto;
    position: relative;
    background-image: url("../images/spacebackground.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;  
    z-index: 0;

}

.card {
    width: 120px;
    height: 180px;
    margin: 15px;
    background-color: grey;
    border: 5px solid rgb(17, 17, 70);
    border-radius: 7px;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    display: inline-block;
    user-select: none;
}

.card img {
    width: 85%;
    height: 35%;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 2px solid gold;
    border-radius: 7px;
}

.card .card-name {
    width: 100%;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-weight: normal;
    margin-top: -8px;
    background-color: rgb(34, 34, 143);
    border-top: 2px solid black;
    border-bottom: 3px solid black;
    border-radius: 0px 0px 5px 5px;
    color: white;
    text-shadow:
        2px 2px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}

.card .card-text {
    margin-top: 15px;
    font-size: 14px;
}

.card-div {
    margin-top: 80px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.footer .narrator {
    float: left;
    margin-left: 0;
    width: 20%;
}

.footer .narrator img {
    width: 100%;
    border: 3px solid black;
    margin-bottom: -3px;
}

.footer .text-box {
    /* float: left; */
    width: 80%;
    height: 50px;
    background-color: rgb(10, 10, 10);
    color: white;
    font-family: 'Electrolize', sans-serif;
    border-top: 3px solid black;
    margin-left: 6px;
    padding-top: 10px;
}

.footer .text-box-inner {
    margin-left: 10px;
    line-height: 2;
}

.player {
    z-index: 2;
}

#droppable {
    position: absolute;
    bottom: 150px;
    width: 120px;
    height: 180px;
    /* horizontal center */
    left: 0px;
    right: 0px;
    margin: auto;
    background: #999;
    color: #fff;
    padding: 10px;
    font-family: 'Audiowide', cursive;
    text-align: center;
}

#enemies {
    display: flex;
    justify-content: center;
}

#enemies-header {
    padding-top: 25px;
    width: 100%;
    text-align: center; 
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    opacity: 0;
}

#hero-footer {
    position: absolute;
    bottom: 100px;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    opacity: 0;
}



/* ================================================ modal stuff ============================================================*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center; 
}

#modal-img {
    width:  70vw;
}

